<section class="fruits_card_section">
  <div class="container">
    <div class="fruits_card_section_in">
      <div class="head">
        <div class="left">
          <h2>{{ section.settings.heading }}</h2>
          <p>{{ section.settings.subheading }}</p>
        </div>
        <div class="right">
          <a href="{{ section.settings.collection.url }}">Explore Fresh Picks, Just In</a>
        </div>
      </div>
      <div class="fruits_cards_wrapper">
        <div class="fruits_card">
          <div class="fc_top">
            <div class="fc_image">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruits-image.jpg?v=1758888846"
                alt="Image"
                class="img_sizing"
              >
            </div>
            <div class="fc_category_tags">
              <span>Untreated</span>
              <span>Season</span>
            </div>
            <div class="fc_bestsell_tags">
              <span>Best Seller</span>
            </div>
            <div class="fc_organic_auth">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/organic_auth.png?v=1758889316"
                alt="Image"
                class="img_sizing"
              >
            </div>
          </div>
          <div class="fc_bottom">
            <div class="star_review">
              <div class="star_rating">
                <img
                  src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/star-rating.png?v=1759215596"
                  alt="Star Rating"
                >
              </div>
              <div class="rating_info">
                <p>4.9 (200)</p>
                <span class="dot_seperator"></span>
                <p>North America</p>
              </div>
            </div>
            <p class="fc_product_title">Extra Sweet Pineapple Boat</p>
            <div class="fc_variant_wrap">
              <div class="fc_variant_item best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item active best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
            </div>
            <div class="fc_price_weight">
              <p><strike>$350.00</strike> <span class="selling_price">$300.00</span></p>
              <p class="fc_weight">$700/Kg</p>
            </div>
            <div class="fc_add_to_cart_outer">
              <div class="fc_add_to_cart">
                <span class="remove_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.09961 11.3408H17.8457" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <button>Add to Cart</button>
                <span class="add_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5645 4.96582V17.7119" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.19727 11.3408H17.9434" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="fc_trust_text">
              <p>Only 3 Left</p>
              <span class="dot_seperator"></span>
              <p>Ships in 24 hrs</p>
              <span class="dot_seperator"></span>
              <p>Product Benefit</p>
            </div>
          </div>
        </div>
        <div class="fruits_card">
          <div class="fc_top">
            <div class="fc_image">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruits-image.jpg?v=1758888846"
                alt="Image"
                class="img_sizing"
              >
            </div>
            <div class="fc_category_tags">
              <span>Untreated</span>
              <span>Season</span>
            </div>
            <div class="fc_bestsell_tags">
              <span>Best Seller</span>
            </div>
            <div class="fc_organic_auth">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/organic_auth.png?v=1758889316"
                alt="Image"
                class="img_sizing"
              >
            </div>
          </div>
          <div class="fc_bottom">
            <div class="star_review">
              <div class="star_rating">
                <img
                  src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/star-rating.png?v=1759215596"
                  alt="Star Rating"
                >
              </div>
              <div class="rating_info">
                <p>4.9 (200)</p>
                <span class="dot_seperator"></span>
                <p>North America</p>
              </div>
            </div>
            <p class="fc_product_title">Extra Sweet Pineapple Boat</p>
            <div class="fc_variant_wrap">
              <div class="fc_variant_item best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item active best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
            </div>
            <div class="fc_price_weight">
              <p><strike>$350.00</strike> <span class="selling_price">$300.00</span></p>
              <p class="fc_weight">$700/Kg</p>
            </div>
            <div class="fc_add_to_cart_outer">
              <div class="fc_add_to_cart">
                <span class="remove_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.09961 11.3408H17.8457" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <button>Add to Cart</button>
                <span class="add_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5645 4.96582V17.7119" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.19727 11.3408H17.9434" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="fc_trust_text">
              <p>Only 3 Left</p>
              <span class="dot_seperator"></span>
              <p>Ships in 24 hrs</p>
              <span class="dot_seperator"></span>
              <p>Product Benefit</p>
            </div>
          </div>
        </div>
        <div class="fruits_card">
          <div class="fc_top">
            <div class="fc_image">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruits-image.jpg?v=1758888846"
                alt="Image"
                class="img_sizing"
              >
            </div>
            <div class="fc_category_tags">
              <span>Untreated</span>
              <span>Season</span>
            </div>
            <div class="fc_bestsell_tags">
              <span>Best Seller</span>
            </div>
            <div class="fc_organic_auth">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/organic_auth.png?v=1758889316"
                alt="Image"
                class="img_sizing"
              >
            </div>
          </div>
          <div class="fc_bottom">
            <div class="star_review">
              <div class="star_rating">
                <img
                  src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/star-rating.png?v=1759215596"
                  alt="Star Rating"
                >
              </div>
              <div class="rating_info">
                <p>4.9 (200)</p>
                <span class="dot_seperator"></span>
                <p>North America</p>
              </div>
            </div>
            <p class="fc_product_title">Extra Sweet Pineapple Boat</p>
            <div class="fc_variant_wrap">
              <div class="fc_variant_item best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item active best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
            </div>
            <div class="fc_price_weight">
              <p><strike>$350.00</strike> <span class="selling_price">$300.00</span></p>
              <p class="fc_weight">$700/Kg</p>
            </div>
            <div class="fc_add_to_cart_outer">
              <div class="fc_add_to_cart">
                <span class="remove_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.09961 11.3408H17.8457" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <button>Add to Cart</button>
                <span class="add_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5645 4.96582V17.7119" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.19727 11.3408H17.9434" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="fc_trust_text">
              <p>Only 3 Left</p>
              <span class="dot_seperator"></span>
              <p>Ships in 24 hrs</p>
              <span class="dot_seperator"></span>
              <p>Product Benefit</p>
            </div>
          </div>
        </div>
        <div class="fruits_card">
          <div class="fc_top">
            <div class="fc_image">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruits-image.jpg?v=1758888846"
                alt="Image"
                class="img_sizing"
              >
            </div>
            <div class="fc_category_tags">
              <span>Untreated</span>
              <span>Season</span>
            </div>
            <div class="fc_bestsell_tags">
              <span>Best Seller</span>
            </div>
            <div class="fc_organic_auth">
              <img
                src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/organic_auth.png?v=1758889316"
                alt="Image"
                class="img_sizing"
              >
            </div>
          </div>
          <div class="fc_bottom">
            <div class="star_review">
              <div class="star_rating">
                <img
                  src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/star-rating.png?v=1759215596"
                  alt="Star Rating"
                >
              </div>
              <div class="rating_info">
                <p>4.9 (200)</p>
                <span class="dot_seperator"></span>
                <p>North America</p>
              </div>
            </div>
            <p class="fc_product_title">Extra Sweet Pineapple Boat</p>
            <div class="fc_variant_wrap">
              <div class="fc_variant_item best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item active best_seller">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
              <div class="fc_variant_item">
                <p>500 G <span>4% Off</span></p>
                <p class="quantity">2 Pieces</p>
              </div>
            </div>
            <div class="fc_price_weight">
              <p><strike>$350.00</strike> <span class="selling_price">$300.00</span></p>
              <p class="fc_weight">$700/Kg</p>
            </div>
            <div class="fc_add_to_cart_outer">
              <div class="fc_add_to_cart">
                <span class="remove_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.09961 11.3408H17.8457" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <button>Add to Cart</button>
                <span class="add_product">
                  <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5645 4.96582V17.7119" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M5.19727 11.3408H17.9434" stroke="#151515" stroke-width="1.82087" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </div>
            </div>
            <div class="fc_trust_text">
              <p>Only 3 Left</p>
              <span class="dot_seperator"></span>
              <p>Ships in 24 hrs</p>
              <span class="dot_seperator"></span>
              <p>Product Benefit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Fruits Cards Section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select Collection"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Section Subheading"
    }
  ]
}
{% endschema %}
