<div class="facts">
    <div class="facts-bg">
        {% comment %} <img class="cover" src="{{ section.settings.bg_image | img_url: 'master' }}" alt="{{ block.settings.bg_image.alt }}" /> {% endcomment %}
         <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/Rectangle_25307.jpg?v=1762433592" alt="">
    </div>
    <div class="facts-data">
        <div class="factsdata-item">
            <div class="facts-item-in">
                <div class="facts-hover"></div>
                <div class="facts-hover-data">
                    <div class="fhd-top">
                        <p class="fhd-top-para">Two ancient lineages:</p>
                        <p class="fhd-bottom-para"><b>Indo-Atlantic (India, Sri Lanka)</b> and <b>Pacific (Indonesia, Philippines).</b></p>
                    </div>
                    <div class="fhd-bottom">
                        <div class="fhdb-image">
                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/image_69.png?v=1762435701" alt="">
                        </div>
                        <p>Origin</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="factsdata-item sec">
            <div class="facts-item-in">
                <div class="facts-hover"></div>
                <div class="facts-hover-data">
                    <div class="fhd-top">
                        {% comment %} <p class="fhd-top-para">Two ancient lineages:</p> {% endcomment %}
                        <p class="fhd-bottom-para">Coconuts are still propagated naturally, often germinating where they fall. <b>This nut remains untamed.</b></p>
                    </div>
                    <div class="fhd-bottom">
                        <div class="fhdb-image">
                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/image_69.png?v=1762435701" alt="">
                        </div>
                        <p>Domestication</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="factsdata-item third">
            <div class="facts-item-in">
                <div class="facts-hover"></div>
                <div class="facts-hover-data">
                    <div class="fhd-top">
                        <p class="fhd-top-para">Two ancient lineages:</p>
                        <p class="fhd-bottom-para">A coconut can survive over <b>3 months at sea</b> and still germinate. It's a natural life capsule, built for oceanic exploration.</p>
                    </div>
                    <div class="fhd-bottom">
                        <div class="fhdb-image">
                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/image_69.png?v=1762435701" alt="">
                        </div>
                        <p>survival fact</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "facts",
    "tag": "section",
    "settings": [

    ],
    "presets": [
        {
            "name": "facts",
            "settings": {
            }
        }
    ]
  }
{% endschema %}