<div class="featured-blog">
  <div class="container">
    {% if section.setting.head != blank %}
    <div class="heading">
      <h1>{{ section.settings.head }}</h1>
    </div>
    {% endif %}
    <div class="blog-banner-card-wrap">
      {% assign blog_handle = section.settings.blog_source %}
      {% assign selected_blog = blogs[blog_handle] %}

      {% if selected_blog and selected_blog.articles_count and selected_blog.articles_count > 0 %}
      {% for article in selected_blog.articles limit: 3 %}
      {% render "blog-card", article: article %}
      {% endfor %}
      {% else %}
      <p>No blog articles found.</p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
"name": "Blog Banner",
"settings": [
{
"type": "blog",
"id": "blog_source",
"label": "Select Blog"
},
{
"type": "text",
"id": "head",
"label": "Heading"
}
],
"tag": "section"
}
{% endschema %}