<section>

</section>

{% schema %}
    {
    "name": "mission-vision",
    "tag": "section",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "slide1",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Slide Image"
                },
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "Icon Image"
                },
                {
                    "type": "text",
                    "id": "slide_heading",
                    "label": "Slide Heading"
                },
                { 
                    "type": "textarea",
                    "id": "slide_content", 
                    "label": "Slide Content" 
                },
            ]
        }
    ],
    "presets": [
      {
        "name": "mission-vision",
        "settings": {
        }
      }
    ]
  }
{% endschema %}