<section class="mission">
    <div class="container-fluid">
        <div class="mission-in">
            <div class="mission-grid">
                {% for block in section.blocks %}
                <div class="missiong-item">
                    <div class="missionitem-in">
                        <div class="missionin-image">
                            <img src="{{ block.settings.slide_image |  img_url: 'master' }}" alt="">
                        </div>
                        <div class="missionin-content">
                            <div class="mic-bg">
                                <svg width="427" height="367" viewBox="0 0 427 367" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M409.555 599.598C404.208 604.978 401.507 612.224 401.954 619.977L406.015 690.951C405.296 695.332 402.168 698.872 397.772 700.276L298.644 732.105C295.543 733.08 293.03 735.155 291.584 737.857L266.084 785.494C263.191 790.898 256.447 793.231 249.936 791.148L171.639 765.944C169.008 765.097 166.226 764.953 163.666 765.545L62.548 788.627C58.3854 789.595 53.7692 788.582 50.1033 786.003L-112.971 669.662C-117.395 666.509 -119.819 661.399 -119.174 656.529L-106.377 558.357C-105.953 555.052 -106.939 551.552 -109.093 548.661L-158.281 482.8C-162.033 477.763 -162.032 471.372 -158.306 467.03L-86.5263 383.218C-84.1726 380.497 -83.2742 376.828 -84.013 373.181L-100.624 288.256C-101.712 282.851 -99.6854 277.6 -95.3304 274.492C-70.3906 256.498 13.5267 203.014 13.5267 203.014C18.0437 200.441 20.2847 195.417 19.1906 190.233L12.7534 159.312C11.1916 151.86 16.4622 145.261 24.3492 144.773L119.057 139.007C124.685 138.655 129.25 135.155 130.563 130.082L142.056 85.8822C143.618 79.8216 149.76 76.1002 156.589 77.0645L290.28 96.2031C296.82 96.4515 303.06 94.7455 308.087 91.3247C312.302 88.4785 317.082 85.2057 319.184 83.5834L420.517 3.53567C428.59 -2.85226 441.634 -0.299454 447.814 8.89614L483.964 62.4515C490.127 71.4697 486.739 82.721 476.888 86.2507L407.455 111.21C401.691 113.284 397.839 118.175 397.365 124.089L397.128 127.046C396.849 130.709 398.026 134.48 400.438 137.621L487.947 250.574C492.431 256.338 491.777 263.95 486.507 268.138L464.505 285.462C459.553 289.371 458.629 296.334 462.319 302.01L517.231 386.299C521.197 392.403 519.839 399.863 514.119 403.53L475.001 428.736C468.92 432.659 467.809 440.811 472.592 446.96L505.934 490.153C510.032 495.486 509.862 502.404 505.516 506.75C505.516 506.75 434.351 574.855 409.732 599.581L409.555 599.598Z" fill="#FCF9F5"/>
                                </svg>
                            </div>
                            <div class="mic-data">
                                <div class="micd-icon">
                                    <img src="{{ block.settings.icon_image |  img_url: 'master' }}" alt="">
                                </div>
                                <div class="micd-heading">
                                    <h4>{{ block.settings.slide_heading }}</h4>
                                    <p>{{ block.settings.slide_content }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% schema %}
    {
    "name": "mission-vision",
    "tag": "section",
    "settings": [
        
    ],
    "blocks": [
        {
            "type": "slide1",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "slide_image",
                    "label": "Slide Image"
                },
                {
                    "type": "image_picker",
                    "id": "icon_image",
                    "label": "Icon Image"
                },
                {
                    "type": "text",
                    "id": "slide_heading",
                    "label": "Slide Heading"
                },
                { 
                    "type": "textarea",
                    "id": "slide_content", 
                    "label": "Slide Content" 
                },
            ]
        }
    ],
    "presets": [
      {
        "name": "mission-vision",
        "settings": {
        }
      }
    ]
  }
{% endschema %}