<div class="featured-blog related-blogs">
  <div class="container">
    <div class="fb-in">
      {% comment %} {% if section.setting.head != blank %} {% endcomment %}
        <div class="heading center">
          <h1 class="small">{{ section.settings.head }}</h1>
        </div>
      {% comment %} {% endif %} {% endcomment %}
      <div class="blog-banner-card-wrap">
        {% assign current_article_handle = article.handle %}
        {% for related in blog.articles %}
        {% unless related.handle == current_article_handle %}
            {% render "blog-card", article: related %}
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Related blogs",
  "settings": [
    
    {
      "type": "text",
      "id": "head",
      "label": "Heading",
      "default": "Featured Blogs"
    }
  ],
  "presets": [
      {
          "name": "Related blogs",
          "settings": {
          }
      }
  ],
  "tag": "section"
}
{% endschema %}