<section class="scroll-sec">
    <div class="scrollsec-wrapper">
        <div class="scrollsec-slide slide_1">
            <div class="scrollsecslide-in">
                <div class="container-fluid">
                    <div class="slide1-wrap">
                        <div class="sw-first-left">
                            <h2>This Is What Wild Tastes Like</h2>
                            <p>Taste the difference in every bite — harvested at the peak of ripeness, delivered at the peak of freshness.</p>
                        </div>
                        <div class="sw-first-right">
                            <div class="swright-top">
                                <div class="swrt-image">
                                    <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/64efb817b0eda88b82156381eddafbc724f00fdf.jpg?v=1759314045" alt="">
                                    <div class="swrt-scroll">
                                        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/scroll-image-jf.png?v=1760000915" alt="">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="swright-bottom">
                                <h3>Grown with Purpose</h3>
                                <p>​​We partner directly with small-scale farmers who care deeply for their land, their people, and their fruit.</p>
                                <p>Through close relationships and shared values — organic practices, regenerative soils, and real hardwork — we source rare, often heirloom fruits bursting with flavor and story.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollsec-slide slide_2">
            <div class="scrollsecslide-in">
                <div class="slide2-wrap">
                    <div class="sw-second-left">
                        <div class="sws-image">
                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/chemical-free.jpg?v=1760001070" alt="">
                        </div>
                        <div class="sws-content">
                            <p>No Chemicals. No Compromises.</p>
                        </div>
                    </div>
                    <div class="sw-second-right">
                        <div class="sws-heading">
                            <h3>Chemical-Free and Organic</h3>
                            <p>Many of our fruits are organically certified. Others come from wild groves or small farms that can’t access certification. In those cases, we go further: visiting farms, checking practices, and ensuring they meet organic standards. When no organic option exists, we choose the best alternatives, often with GlobalGAP (Good Agricultural Practices) certification.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollsec-slide slide_3">
            <div class="scrollsecslide-in">

            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "scroll-sec",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "scroll-sec",
        "settings": {
        }
      }
    ]
  }
{% endschema %}