<section class="scroll-sec">
    <div class="scrollsec-wrapper">
        <div class="scrollsec-slide slide_1">
            <div class="scrollsecslide-in">
                <div class="container-fluid">
                    <div class="slide1-wrap">
                        <div class="sw-first-left">
                            <h2>This Is What Wild Tastes Like</h2>
                            <p>Taste the difference in every bite — harvested at the peak of ripeness, delivered at the peak of freshness.</p>
                        </div>
                        <div class="sw-first-right">
                            <div class="swfr-in">
                                <div class="swright-top">
                                    <div class="swrt-image">
                                        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/64efb817b0eda88b82156381eddafbc724f00fdf.jpg?v=1759314045" alt="">
                                        <div class="swrt-scroll">
                                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/scroll-image-jf.png?v=1760000915" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swright-bottom">
                                    <h3>Grown with Purpose</h3>
                                    <p class="small">​​We partner directly with small-scale farmers who care deeply for their land, their people, and their fruit.</p>
                                    <p class="small">Through close relationships and shared values — organic practices, regenerative soils, and real hardwork — we source rare, often heirloom fruits bursting with flavor and story.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollsec-slide slide_2">
            <div class="scrollsecslide-in">
                <div class="container-fluid">
                    <div class="slide2-wrap">
                        <div class="sw-second-left">
                            <div class="sws-image">
                                <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/chemical-free.jpg?v=1760001070" alt="">
                            </div>
                            <div class="sws-content">
                                <p>No Chemicals. No Compromises.</p>
                            </div>
                        </div>
                        <div class="sw-second-right">
                            <div class="sws-heading">
                                <h3>Chemical-Free and Organic</h3>
                                <p class="small">Many of our fruits are organically certified. Others come from wild groves or small farms that can’t access certification. In those cases, we go further: visiting farms, checking practices, and ensuring they meet organic standards. When no organic option exists, we choose the best alternatives, often with GlobalGAP (Good Agricultural Practices) certification.</p>
                            </div>
                            <div class="sws-fruits">
                                <div class="swsfruits-item fruit1">
                                    <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruit-appear-1.png?v=1760008246" alt="">
                                </div>
                                <div class="swsfruits-item fruit2">
                                    <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruit-appear-2.png?v=1760008246" alt="">
                                </div>
                                <div class="swsfruits-item fruit3">
                                    <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruit-appear-3.png?v=1760008246" alt="">
                                </div>
                                <div class="swsfruits-item fruit4">
                                    <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/fruit-appear-4.png?v=1760008246" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollsec-slide slide_3">
            <div class="scrollsecslide-in">
                <div class="container-fluid">
                    <div class="slide3-wrap">
                        <div class="sw-three-left">
                            <div class="swfr-in">
                                <div class="swright-top">
                                    <div class="sidetop-text">Harvested only after you order</div>
                                    <div class="swrt-image">
                                        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/346270bb3e5776562c5acbf15ebd1c06f29d763b.jpg?v=1760010868" alt="">
                                        <div class="swrt-scroll">
                                            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/scroll-image-jf.png?v=1760000915" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swright-bottom">
                                    <h3>Picked After You Click</h3>
                                    <p class="small">When you place your order before Thursday at 8:00 PM, your fruits are still soaking in the sun, ripening on the tree. Only after your click do our farmers begin to harvest. That’s how we deliver fruit that’s fresher, fuller, and bursting with flavor.</p>
                                </div>
                            </div>
                        </div>
                        <div class="sw-three-right sw-second-left">
                            <div class="sws-image">
                                <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/b88d572ac22b81ad198a96eb7840035457ddb3ec.jpg?v=1760010883" alt="">
                            </div>
                            <div class="sws-content">
                                <p>No Chemicals. No Compromises.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} <div class="scrollsec-slide slide_4">
            <div class="scrollsecslide-in">
                <div class="container-fluid">
                    <div class="slide4-wrap">
                        <div class="sw-four-left">
                            <div class="swfour-heading">
                                <h3>Harvested at Full Maturity</h3>
                                <p>Unlike supermarket fruit, ours are harvested at physiological maturity—when nutrients and flavor are fully developed. Some fruits (like avocados or bananas) ripen post-harvest, so we ship them slightly firm. This ensures they arrive safe and natural, needing just 2–3 days at room temperature to reach perfect ripeness—no chemicals, no shortcuts.</p>
                            </div>
                        </div>
                        <div class="sw-four-right">
                            <div class="swfr-in">
                                <div class="swright-top">
                                    <div class="sidetop-text">Reaches you in 5-6 days</div>
                                    <div class="stil-image">
                                        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/346270bb3e5776562c5acbf15ebd1c06f29d763b.jpg?v=1760010868" alt="">
                                    </div>
                                </div>
                                <div class="stli-bottom">
                                    <h3>Ultra-Fresh Delivery</h3>
                                    <p>From the moment you place an order, your fruits are harvested, packed, and shipped with the utmost care. We minimize the time between picking and delivery, so your fruits arrive fresh — on average, 5 to 6 days after being plucked from the tree. Straight from the farm to your plate.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>

{% schema %}
  {
    "name": "scroll-sec",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "scroll-sec",
        "settings": {
        }
      }
    ]
  }
{% endschema %}