{% assign schema_setting = section.settings.text %}
{% assign collection_description = collection.description %}

<div class="seo-section">
  <div class="container">
    <div class="seo-sec-wrapper">
      {% if schema_setting %}
        {{ section.settings.text }}
      {% elsif collection_description %}
        {{ collection.description }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Seo Section",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Seo Text"
      }
    ]
  }
{% endschema %}