{% assign spacer_height = section.settings.spacer_height | divided_by: 2 %}
{% assign spacer_height_mobile = section.settings.spacer_height | divided_by: 3 %}


<div class="spacer"></div>

<style>
  .spacer {
    padding: {{ spacer_height }}px 0;
  }

  @media(max-width: 767px) {
    .spacer {
      padding: {{ spacer_height_mobile }}px 0;
    }
  }
</style>

{% schema %}
  {
    "name": "Spacer",
    "settings": [
      {
        "type": "range",
        "id": "spacer_height",
        "label": "Spacer Height",
        "default": 140,
        "min": 10,
        "max": 300,
        "step": 10
      }
    ]
  }
{% endschema %}