<section class="sustain">

</section>

{% schema %}
  {
    "name": "sustain",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "sustain",
        "settings": {
        }
      }
    ]
  }
{% endschema %}