<section class="error-template">
    <div class="et-bg">
        <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/Vector_-_2025-12-08T192241.263.svg?v=1765201976" alt="">
    </div>
  <div class="container">
    <div class="et-data">
        <div class="etd-heading">
            <h1>404</h1>
            <p>No result found</p>
        </div>
        <div class="etd-desc">
            <p>Lorem ipsum dolor sit amet consectetur. Nulla morbi blandit quis scelerisque elementum enim a pulvinar elit. Ante arcu feugiat sit turpis commodo faucibus non rhoncus potenti. Nunc posuere tempus sagittis nisl pulvinar aliquam sit commodo. Egestas vestibulum laoreet odio duis nisi.</p>
        </div>
        <div class="etd-button">
            <a href="{{ shop.url }}" class="line-btn dark">go back to homepage</a>
        </div>
        <div class="etd-logo">
            <img src="https://cdn.shopify.com/s/files/1/0752/8015/4881/files/Group_66.svg?v=1765202267" alt="">
        </div>
    </div>
  </div>
</section>