<section class="login-signup-template">
  <div class="log-form-wrap">
    <div class="container">
      <div class="log-form-con" id="resetPasswordForm">
        <div class="head">
          <h1>{{ section.settings.head }}</h1>
        </div>
        <div class="log-form">
          {% form 'reset_customer_password' %}
            {% if form.errors %}
              {{ form.errors | default_errors }}
            {% endif %}
            <div class="form-con-wrap">
              <div class="form-con">
                <label for="customer_password">NEW PASSWORD<sup>*</sup></label>
                <input
                  type="password"
                  name="customer[password]"
                  id="customer_password"
                  placeholder="Enter new password"
                  required
                  autocomplete="new-password"
                />
              </div>
              <div class="form-con">
                <label for="customer_password_confirmation">CONFIRM NEW PASSWORD<sup>*</sup></label>
                <input
                  type="password"
                  name="customer[password_confirmation]"
                  id="customer_password_confirmation"
                  placeholder="Confirm new password"
                  required
                  autocomplete="new-password"
                />
              </div>
            </div>
            <div class="form-con submit-but">
              <button type="submit">Reset Password</button>
            </div>
          {% endform %}
          <div class="cc-signup">
            Remember your password? {{ 'Log in' | customer_login_link }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="log-img">
    <img src="{{ section.settings.bg-img | img_url: 'master' }}" alt="">
  </div>
</section>

{% schema %}
  {
    "name": "Reset Password",
    "settings": [
      {
        "type": "text",
        "id": "head",
        "label": "Heading",
        "default": "Reset Your Password"
      },
      {
        "type": "image_picker",
        "id": "bg-img",
        "label": "Background Image"
      }
    ]
  }
{% endschema %}
