<section class="not-found-page">
  <div class="container-fluid">
    <div class="nf-in">
      <div class="nf-num-wrap">
        <div class="nf-num">
          4
        </div>
        <div class="nf-num-txt">
          <div class="nf-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0754/5539/8146/files/Vector_33.svg?v=1748955022"
              alt="Orielle O"
              class="icon">
          </div>
          <div class="nf-txt">
            <h1>Request page not found</h1>
          </div>
        </div>
        <div class="nf-num">
          4
        </div>
      </div>
      <div class="nf-btn">
        <a href="#!" class="custom-btn dark">Go back to homepage</a>
      </div>
    </div>
  </div>
</section>