<div class="top-bar">
    <div class="container">
        <div class="top-bar-in">
            {% if localization.available_languages.size > 1 %}
                <form
                    method="post"
                    action="{{ routes.localization_url }}"
                    id="LanguageSwitcher"
                    class="language-switcher"
                >
                    <input
  type="hidden"
  name="return_to"
  value="{% if request.path == '' %}/{% else %}{{ request.path }}{% endif %}"
>

                    <select
                    name="locale_code"
                    aria-label="Select language"
                    onchange="this.form.submit()"
                    >
                    {% for language in localization.available_languages %}
                        <option
                        value="{{ language.iso_code }}"
                        {% if language.iso_code == localization.language.iso_code %}
                            selected
                        {% endif %}
                        >
                        {{ language.endonym_name }}
                        </option>
                    {% endfor %}
                    </select>
                </form>
                {% endif %}

        </div>
    </div>
</div>

{% schema %}
  {
    "name": "top-bar",
    "tag": "section",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "top-bar",
            "settings": {
            }
        }
    ]
  }
{% endschema %}