/* Collection Page */

.collection-main {
  padding-top: 40px;
}
.collection-main .breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
}
.collection-main .breadcrumbs p,
.collection-main .breadcrumbs a {
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #6b6b6b;
}
.collection-main .breadcrumbs a {
  color: #1a1a1a;
}
.collection-main h1,
.collection-main h2 {
  font-size: clamp(32px, 4vw, 46px);
  text-transform: capitalize;
}
.collection-main .head {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.collection-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 20px;
  position: relative;
  padding-bottom: 80px;
  margin-top: 63px;
}
.collection-wrapper nav.pagination {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.tc-filter-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-top: 52px;
}
.filter-sidebar form {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  position: relative;
  padding-bottom: 40px;
  flex-wrap: wrap;
}
.filter-sidebar form .clear-filter {
  position: absolute;
  bottom: 0px;
}
.filter-sidebar form .clear-filter a {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #1a1a1a;
  text-underline-offset: 3px;
}
.form-filter-wrap.list .ff-head {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background: #dbd7c8;
  cursor: pointer;
  justify-content: space-between;
}
.form-filter-wrap.list .ff-head p {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #151515;
}
.filter-down-arrow {
  width: 16px;
  flex-shrink: 0;
  transition: 0.6s all ease;
}
.form-filter-wrap.list.active .filter-down-arrow {
  transform: rotate(180deg);
}
.filter-down-arrow svg {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.form-filter-wrap.list {
  position: relative;
  min-width: 180px;
}
.form-filter-wrap.list .ff-in {
  position: absolute;
  z-index: 9;
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 8px;
  width: 100%;
  border-radius: 6px;
  top: 42px;
  display: none;
}
.form-filter-wrap.list .ff-in ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-filter-wrap.list .ff-in li label {
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #151515;
  word-break: break-all;
  display: flex;
  align-items: center;
  gap: 12px;
}
.form-filter-wrap .ff-in ul li input {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #151515;
  position: relative;
  cursor: pointer;
  border-radius: 0;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}
.form-filter-wrap .ff-in ul li input:after {
  content: "";
  /* background: #151515; */
  background-image: url("https://cdn.shopify.com/s/files/1/0752/8015/4881/files/tick.svg?v=1762169024");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 13px;
  height: 14px;
  margin: auto;
  transition: 0.4s all ease;
}
.form-filter-wrap .ff-in ul li input:checked:after {
  opacity: 1;
}
.form-filter-wrap.list .ff-in li label span {
  display: none;
}
.form-filter-wrap.list .ff-in li {
  padding: 5px;
}
.form-filter-wrap.price_range {
  display: none !important;
}
.filter-wrap.sort-by select {
  background: transparent;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  padding-right: 20px;
  background-image: url("https://cdn.shopify.com/s/files/1/0752/8015/4881/files/down-arrow.svg?v=1762171493");
  background-position: right 35%;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
  border-radius: 0;
}
.collection-wrapper nav.pagination .pag-numbers span.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 88%;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: capitalize;
  color: #fcf9f5;
  padding: 6px;
  background-color: #151515;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: auto;
  width: 24px;
}
.collection-wrapper nav.pagination .pag-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.collection-wrapper nav.pagination .pag-btn img {
  width: 100%;
  height: auto;
  max-height: 100%;
}
.collection-wrapper nav.pagination .pag-btn {
  width: 8px;
  display: flex;
}
.collection-wrapper nav.pagination .pag-numbers a {
  font-weight: 400;
  font-size: 14px;
  line-height: 88%;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: capitalize;
  color: #6b6b6b;
}
.filter-wrap.sort-by {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.filter-wrap.filter {
  width: 75%;
}

/* Seo Focused Section */

.seo-sec-wrapper p {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 150%;
  letter-spacing: 0em;
}
.seo-sec-wrapper h2 {
  font-size: clamp(24px, 3.5vw, 38px);
  margin-bottom: 12px;
  margin-top: 24px;
}

.seo-sec-wrapper h3 {
  font-size: clamp(20px, 3.5vw, 32px);
  margin-bottom: 12px;
  margin-top: 18px;
}

.seo-sec-wrapper h4,
.seo-sec-wrapper h5,
.seo-sec-wrapper h6 {
  font-size: clamp(18px, 3.5vw, 28px);
  margin-bottom: 12px;
  margin-top: 16px;
}
.seo-sec-wrapper a {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: #1a1a1a;
  text-underline-offset: 3px;
}
.seo-sec-wrapper ul {
  list-style: disc;
  padding-left: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.seo-sec-wrapper {
  max-width: 90ch;
}
.filter-cross-div {
  display: none;
}

/* Collection banner for Category Pages */

.collection-banner {
  background-color: #dbd7c8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 58px 0;
}
.collection-banner h1 {
  font-size: clamp(32px, 4vw, 46px);
}
.cb-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cb-collection {
  display: flex;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
}
.cb-collection a.cbcIn {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.cb-collection a.cbcIn .cbcImg {
  width: 83px;
  height: 83px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
.cb-collection a.cbcIn .cbcImg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1;
  transition: 0.6s all ease;
}
.cb-collection a.cbcIn:hover .cbcImg img {
  scale: 1.1;
}
.cb-collection a.cbcIn .cbcTxt p {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
  color: #1a1a1a;
  position: relative;
}
.cb-collection a.cbcIn .cbcTxt p::after {
  content: "";
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
  background-color: #1a1a1a;
}
.cb-collection a.cbcIn:hover .cbcTxt p::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
.filter-buttton {
  display: none;
}

/* Collection Page Ends */

/* Product Page */

.pro-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.pro-img {
  display: flex;
  flex-direction: row-reverse;
  width: 55%;
  justify-content: space-between;
  align-items: stretch;
}
.pro-desp {
  width: 40%;
}
.prod-main-image {
  width: 80%;
}
.prod-thumb-image {
  width: 20%;
  max-width: 118px;
}
.prod-main-image img,
.prod-thumb-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
}
.prod-main {
  width: 100%;
  padding-top: 100%;
}
.prod-main-image .item {
  border-radius: 20px;
  overflow: hidden;
}
.prod-thumb {
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.prod-thumb-image .slick-slide {
  margin-bottom: 8px;
}
.prod-main-image .slick-list,
.prod-main-image .slick-track {
  height: 100%;
}

/* Product Page Ends */
