.img_sizing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_sizing.icon {
    width: 100%;
    height: auto;
}

.fruits_cards_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.fruits_card {
    border: 1px solid #E7E7E7;
    border-radius: 12px;
    overflow: hidden;
}

.fruits_card .fc_top {
    position: relative;
    height: 297px;
    background: linear-gradient(0deg, rgba(34, 34, 34, 0) 47.15%, rgba(0, 0, 0, 0.7) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.7) 7.03%, rgba(34, 34, 34, 0) 25.74%);

}

.fc_image {
    height: 100%;
}

.fc_top .fc_category_tags {
    position: absolute;
    left: 15px;
    top: 15px;
}

.fc_category_tags span {
    background-color: #fff;
    color: #151515;
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.03em;
    border-radius: 10px;
    display: inline-block;
}

.fc_top .fc_bestsell_tags {
    position: absolute;
    right: 0;
    top: 15px;
}

.fc_bestsell_tags span {
    --r: 1em;
    padding-inline: calc(var(--r) + .25em) .5em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(100% - 0em), var(--r) 50%, 0 0em);
    background:
        radial-gradient(.2em 50% at right, #0000) border-box,
        #397E1B padding-box;
    width: fit-content;
    color: #FCF9F5;
    font-size: 11.5px;
    padding: 4px 20px 4px 30px;
    font-family: var(--scale);
    font-weight: 500;
    letter-spacing: 0.06em;
}

.fc_organic_auth {
    width: 31px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 2px;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.fc_organic_auth img {
    border-radius: 1.1px;
}

.star_review {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rating_info {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rating_info p {
    font-size: 11px;
    color: #747474;
}

.fc_variant_item {
    border: 1px solid #E5E3DF;
    border-radius: 4px;
    min-width: 112px;
    text-align: center;
    padding: 8px 16px;
    scroll-snap-align: start;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    transition: .4s ease all;
}

.fc_variant_wrap {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    gap: 8px;
    padding-bottom: 10px;
    scroll-snap-type: x mandatory;
}

.fc_variant_item p {
    font-size: 12px;
    white-space: nowrap;
}

.fc_variant_item p span {
    font-size: 10px;
    color: #397E1B;
    padding-left: 8px;
    font-weight: 600;
}

.fc_variant_item p.quantity {
    font-size: 11px;
}

.fc_variant_item.best_seller::before {
    content: 'Best Seller';
    border: 2px solid #99BD0F4D;
    position: absolute;
    top: -16px;
    font-size: 9px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #202322;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 10px;
    white-space: nowrap;
    z-index: 3;
    background-color: #FCF9F5;

}

.fc_product_title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 120%;
    color: #151515;
}

.fc_bottom {
    padding: 14px 0px 12px 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fc_variant_item:hover {
    border: 1px solid #151515;
    cursor: pointer;
}

.fc_variant_item:hover p {
    font-weight: 500;
}

.fc_variant_item:hover p span {
    font-weight: 600;
}

.fc_variant_item.active {
    border: 2px solid #FFBB42;
    background-color: #FFF2DB;
}

.fc_variant_item.active p {
    font-weight: 700;
}

.fc_variant_item.active p.quantity {
    font-weight: 600;
}

.fc_variant_item.active p span {
    font-weight: 600;
}

.fc_price_weight {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    align-items: center;
}

.fc_price_weight p {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    line-height: 150%;
    letter-spacing: 0em;
}

.fc_price_weight p span {
    font-size: 16px;
    font-weight: 600;
    color: #151515;
    line-height: 100%;
    letter-spacing: -0.06em;
    padding-left: 6px;
}


.fc_add_to_cart {
    padding-right: 15px;

}

.fc_add_to_cart {
    width: 100%;
    background: linear-gradient(90deg, #FFC761 0%, #F7A816 138.78%);
    display: flex;
    border-radius: 25px;
    color: #2C2C2C;
    align-items: center;
    padding: 12px 20px;
    transition: .4s ease all;
    cursor: pointer;
}

.fc_add_to_cart:hover {
    background: linear-gradient(180deg, #F7A816 0%, #FFC761 138.78%);
}

.fc_add_to_cart button {
    background: none;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    outline: none;
    color: #2C2C2C;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Inter';
    width: 70%;
    cursor: pointer;
}

.fc_add_to_cart span {
    width: 20%;
}

.fc_add_to_cart span.remove_product {
    display: flex;
    justify-content: start;
}

.fc_add_to_cart span.add_product {
    display: flex;
    justify-content: end;
}

.dot_seperator {
    display: inline-block;
    height: 2.95px;
    width: 2.95px;
    border-radius: 50px;
    background-color: #747474;
}

.fc_trust_text {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.fc_trust_text p {
    font-size: 10px;
    color: #747474;
}

.fc_add_to_cart_outer {
    padding-right: 15px;
}

.fruits_card_section_in .head {
    margin-bottom: 60px;
    display: flex;
}

.fruits_card_section_in .head .left {
    width: 70%;
}

.fruits_card_section_in .head .right {
    width: 30%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.fruits_card_section_in .head .right a {
    text-decoration: underline;
    color: #1A1A1A;
    letter-spacing: -0.01em;
    line-height: 120%;
    font-size: 14px;
    font-weight: 500;
    text-underline-offset: 2px;
    transition: .4s ease all;
}

.fruits_card_section_in .head .right a:hover {
    color: #747474;
}

.custom-prev,
.custom-next {
    background: #1A1A1A;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding: 10px;
}

.fruits_cards_slider .owl-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.for_responsive {
    display: none;
}

@media screen and (max-width: 1300px) {
    .for_responsive {
        display: block;
    }

    .for_desktop {
        display: none;
    }

    .fruits_card_section .slider_container {
        padding: 0px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 767px) {
    .fruits_card_section .slider_container {
        padding-left: 16px;
    }
    .fruits_card_section_in .head {
        flex-direction: column;
        gap: 15px;
    }
    .fruits_card_section_in .head .left,
    .fruits_card_section_in .head .right {
        width: 100%;
    }
     .fruits_card_section_in .head .right {
        justify-content: start;
     }
    .fruits_card_section_in .head p {
        font-size: 14px;
    }
}